<h1><%= @podcast.name %></h1>

<%= render "search/form" %>

<% @episodes.each do |episode| %>
  <div>
    <h2><%= link_to episode.title, podcast_episode_path(episode.podcast, episode) %></h2>
    <p><%= truncate(episode.description, length: 100) %></p>
    <p><%= episode.release_date %></p>
    <%= link_to "Listen on Spotify", episode.spotify_url, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  </div>
<% end %>
