<div>
  <h2><%= podcast.name %></h2>
  <% if podcast.episodes.size > 0 %>
    <% latest_episode = podcast.latest_episode %>
    <h3><%= latest_episode.title %></h3>
    <p><%= truncate(latest_episode.description, length: 100) %></p>
    <p><%= latest_episode.release_date %></p>
    <p><%= link_to "Listen on Spotify", latest_episode.spotify_url %></p>
    <%= link_to "View all episodes", podcast_episodes_path(podcast), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
  <% else %>
    <p>No episodes available.</p>
  <% end %>
</div>
